#right-align-img {
  float: right;
  margin: 40px 0 1em 1em;
  width: 40%;
  border-radius: 50%;
}

#img-div-config {
  height: 50px;
}

html {
  background-color: lightcoral;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, sans-serif;
}